@import '../../../../style/variables.scss';

.wrapperPost {
width: 32%;
overflow: hidden;
padding: 0 10px;
text-decoration: none;
color: black;

}

.iteamPost {
    background-color: $colorOpacity;
    border-radius: 5px;
    padding: 10px 25px;
    margin: 0 20px;
    transform: translateY(-65px);
    object-fit: cover;
    transition: .3s linear;
    
}

.titlePost{
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    line-clamp: 1;
    box-orient: vertical;
    }
    
.bodyPost {
   height: 97px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.imgPost {
    width: 100%;
    height: 250px;
    border-radius: 5px;
    background-position: center;
    background-size: cover ;
    object-fit: cover;
    transition: .3s linear;
    background-color: white;
    
}


.wrapperPost:hover .imgPost {
    transform: translateY(20px);
}

.wrapperPost:hover .iteamPost {
    transform: translateY(-80px);
}

@media screen and (max-width: 800px){
    
    .wrapperPost{
      width: min(600px, 100%);
    }
  }