@import './../../../style/variables.scss';
.wrapperBlog {
    max-width: 1000px;
    width: 100%;
    padding: 20px;
    display: flex;
    
    flex-wrap: wrap;
    cursor: pointer;
    margin: auto;
   
    }



    @media screen and (max-width: 800px){
        .wrapperBlog{
          justify-content: center;
        }
    }