@import './../../../style/variables.scss';



.wrapperHeader {
   background-color: white;
    width: 100%;
    height: 50px;
    padding: 5px 20px;
    display: flex;  
    justify-content: space-between;  
    box-shadow: 0 1px 8px rgb(0 0 0 / 30%);
    
}


.iteamNav {
    display: flex;
    justify-content: space-between;
}

.headerLogoImg {
    pointer-events: none;
    width: 40px;
    height: 40px;
    margin: auto;
    
    
}


.blogNavButton{
    margin: auto;
    padding: 0 5px ;
    text-transform: uppercase;
    font-weight: 700;
    overflow: hidden;
    user-select: none;
    cursor: pointer;
    text-align: center; 
    transition: .6s;
    &:hover {
       opacity: .5;
    }

    a {
        text-decoration: none;
        color: black;
    }
    
}

.profileNavButton {
    text-transform: uppercase;
    font-weight: 700;
    overflow: hidden;
    user-select: none;
    cursor: pointer;
    text-align: center; 
    transition: .6s;
    margin: auto;
    padding: 0 5px 0 15px;
    &:hover {
       opacity: .5;
    }

    a {
        text-decoration: none;
        color: black;
    }
    
}

.newPostNavButton {
    text-transform: uppercase;
    font-weight: 700;
    overflow: hidden;
    user-select: none;
    cursor: pointer;
    text-align: center; 
    transition: .6s;
    margin: auto;
    padding: 0 5px 0 5px;
    &:hover {
       opacity: .5;
    }

    a {
        text-decoration: none;
        color: black;
    }
    
}



.headerUserPhoto {
    width: 35px;
    height: 35px;
    display: flex;
    position: absolute;
    right: 45px;
    top: 8px;
    cursor: pointer;
    transition: 0;
    
}



.headerUserPhoto.active {
    border-radius: 50%;
    border: 3px solid $colorActive;
    
}




.rhombus.active {
    position: absolute;
    top: 48px;
    transform: rotate(45deg);
    right: 55px;
    width: 15px;
    height: 15px;
    background-color: white;
    z-index: 1099; 
    box-shadow: 0 1px 8px rgb(0 0 0 / 30%); 
}

.headerUserMenu {
    display: none;
}

.headerUserMenu.active {
    display: block;
    position: absolute;
    
    top: 55px; 
    right: 25px;
    width: 200px;
    z-index: 1100;
    box-shadow: 0 1px 8px rgb(0 0 0 / 30%);

}

.profileItemUserMenu {
    
    text-transform: uppercase;
    
    color: black;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    user-select: none;
  
  a {
      width: 100%;
      padding: 5px 20px  ;
      text-decoration: none;
      color: black;
      font-weight: 700;
      transition: .6s;
      &:hover{
          background-color: rgb(209, 207, 207);
      }
}


  
}

.overlayMenuUser{
    left: 0;
    top: 0;
    position: fixed;
    z-index: 1005;
    width: 100%;
    height: 100%;
    opacity: 1;
    transform: translateX(-100%);
}

.overlayMenuUser.active {
    
    transform: translateX(0);
} 


@media screen and (max-width: 700px){
    
    .blogNavButton{
        display: none;
    }
    .profileNavButton{
        display: none;
    }
    .newPostNavButton{
        display: none;
    }
    .headerLogoImg{
        display: none;
    }
    
  }