.addCommentWrapper {
    max-width: 1000px;
    width: 100%;
    background-color: white;
    margin-top: 5px;
    position: relative ;
    padding: 10px;
    padding-left: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 1px 8px rgb(0 0 0 / 30%);
    
}
.sendComment {
    width: 30px;
    height: 30px;
    margin: 0 0 0 20px;
    user-select: none;
    cursor: pointer;
    transition: .4s; 
    
     
 &:hover {
     opacity: .5; }
 }  
 


 .blockAddComment {
    width: 70%;  
 }
.blockAddComment input {
    margin: 0 0 0 10px;
    width: 100%;
    user-select: none;
    padding: 10px;


}

