.containerAuthorComment{
    display: flex;
    justify-content: flex-start;
    
}

.authorCommentName {
    padding-top: 10px;
    padding-left: 10px;
    font-size: 18px;
    font-weight: 700;
}

.authorCommentDate {
    font-size: 12px;
    padding-left: 15px;
    color: gray;
}

.wrapperComment{
    width: 100%;
    background-color: white;
    margin-top: 10px;
        padding: 10px;
        padding-left: 20px;
        border-radius: 5px;
        box-shadow: 0 1px 8px rgb(0 0 0 / 30%);

}

.commentItem{
    overflow: hidden;
    text-overflow: ellipsis;
}