*{
  box-sizing: border-box;
}

.loader{
  background-color: #e9e9eb;
  display: flex;
  justify-content: center;
  height: 100vh;
   img {
    width: 300px;
    height: 250px;
    margin: auto;
   }

}

.bgApp {
  min-height: 100%;
  width: 100%;
  background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(245, 245, 245), rgb(235, 235, 235), rgb(224, 224, 224), rgb(214, 214, 214), rgb(204, 204, 204), rgb(194, 194, 194), rgb(184, 184, 184), rgb(174, 174, 174), rgb(163, 163, 163), rgb(153, 153, 153), rgb(143, 143, 143));
  position: absolute;
  display: flex;
  background-size: cover;
}

.wrapperNotification {
  position: fixed;
  right: 20px;
  bottom: 20px;
}
