.containerAuth {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: flex-end;
    background: url(https://source.unsplash.com/random);
    background-position: center;
    background-size: cover;
}


@media screen and (max-width: 800px){
    
    .containerAuth{
        flex-direction: row;
        justify-content: center;
    }
  }

